/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply font-family, font-size, and color */
body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  color: #333;
}

.section-title {
  font-size: 16px;
  color: #fff;
}

/* Layout styles */
header {
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0 5px; 
}

.section {
  flex: 1 1 calc(33.3333% - 10px);
  padding: 20px;
  border: 1px solid #000;
  background-color: #f9f9f9;
  margin: 5px;
  position: relative;
}

.section h2 {
  position: absolute;
  border: 1px solid #000;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  z-index: 1;
}

.section-title-1 {
  background-color: #e86d6d;
}

.section-title-2 {
  background-color: #d81818;
}

.section-title-3 {
  background-color: #e8cb6d;
}

.section p {
  padding-top: 30px; 
}

/* Media queries */
@media (max-width: 991px) {
  .section {
    flex-basis: calc(50% - 10px);
  }

  .section:nth-child(3) {
    clear: both;
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .section {
    flex-basis: 100%;
  }
}
